.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* Created with https://www.css-gradient.com */
    background: #48ABFF;
    background: -webkit-linear-gradient(bottom left, #48ABFF, #3BFF9E);
    background: -moz-linear-gradient(bottom left, #48ABFF, #3BFF9E);
    background: linear-gradient(to top right, #48ABFF, #3BFF9E);  
}

.login_wrapper {
    position: relative;
    width: 50%;
    height: 500px;
}

.login_card {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all .5s ease;
    background-color: white;
}


/* Login Side */
.login_front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 9px 9px 22px 3px rgba(34, 60, 80, 0.35);
}

.login_form {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_form h2 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .nextui-input-main-container {
    width: 100% !important;
}

.login .nextui-input-main-container {
    margin-top: 20px;
}

.login_input {
    font-size: 2rem;
}

.login_btn {
    padding: 10px 15px;
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
    border: none;
    background-color: rgb(38, 38, 255);
    border-radius: 12px;
    transition: linear .2s all;
    cursor: pointer;
}

.login_btn:hover {
    transform: scale(1.1);
    background-color: white;
    border: 2px solid rgb(38, 38, 255);
    color: rgb(38, 38, 255);
}

.login_flip {
    text-align: center;
    margin-top: 20px;
    color: rgb(103, 103, 103);
    font-size: 1.2rem;
    transition: .2s linear all;
    cursor: pointer;
}

.login_flip:hover {
    color: rgb(38, 38, 255);
}

/* Registration Side */
.login_back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: aliceblue;
    box-shadow: 9px 9px 22px 3px rgba(34, 60, 80, 0.35);
}