.history .nextui-radio-group-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.history .nextui-radio-label{
    margin-top: 0 !important;
}
.history_radio{
    width: 90%;
}